h1 , div{
    text-align: center;
}
svg{
    margin: 30px;
}
text{
    fill: #635F5D;
}
line{
    stroke: #C0C0BB;
}
.axis-label{
    font-size: 2rem;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.menu-label{
    margin: 1rem;
}
.color-legend text{
    cursor: default;
    fill: #635F5D;
}